<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
          xmlns:tools = "http://schemas.android.com/tools"
          package = "com.example.odm.garbagesorthelper">
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name = "android.permission.INTERNET" /> <!-- 允许网络权限 -->
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name = "android.permission.RECORD_AUDIO" /> <!-- 读取网络信息状态 -->
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取当前wifi状态 -->
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name = "android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.CAMERA" />

    <uses-feature android:name = "android.permission.camera" />

    <application
    android:name = ".application.GarbageSortApplication"
    android:allowBackup = "true"
    android:configChanges = "keyboardHidden|orientation|screenSize|locale"
    android:icon = "@drawable/icon_garbagesort_app"
    android:label = "@string/app_name_chinese"
    android:requestLegacyExternalStorage = "true"
    android:roundIcon = "@mipmap/ic_launcher_round"
    android:supportsRtl = "true"
    android:theme = "@style/AppTheme"
    android:usesCleartextTraffic = "true"
    tools:replace = "android:label">
        <activity android:name = ".ui.search.SearchActivity">
        </activity>
        <activity android:name = ".ui.Camera.CameraActivity">
        </activity>
        <activity android:name = ".ui.WelcomeActivity">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <action android:name = "android.intent.action.VIEW" />

                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name = ".ui.RootActivity"
        android:windowSoftInputMode = "adjustPan">
        </activity>

        <meta-data
        android:name = "IFLYTEK_APPKEY"
        android:value = "5d92eae0" />

        <uses-library
        android:name = "org.apache.http.legacy"
        android:required = "false" />
    </application>

</manifest>